@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
  background-color: rgb(245, 245, 245);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.delete-btn {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 448 512' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0h120.4c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64s14.3-32 32-32h96l7.2-14.3zM32 128h384v320c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z'/%3E%3C/svg%3E");
	background-color: darkgray;
	color: inherit;
	float: right;
	height: 1.2em;
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	width: 1.2em;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
}

.list-group {
	border-bottom: none;
	border-top: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 0;
	padding-left: 0;
}

.list-group-item {
	border-left: none;
	border-right: none;
	border-top: 1.5px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: block;
	padding: 1.25rem;
}

.list-group-item:first-child {
	border-top: none;
}

.list-item-title {
	display: inline-block;
  font-size: 1.25rem;
}

.navbar {
	align-items: center;
	background-color: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1.5rem 1rem;
	position: relative;
}

.navbar-icons img {
	cursor: pointer;
	margin-left: 1rem;
	margin-right: 1rem;
}

.navbar-title {
	color: #fff;
	display: inline-block;
	font-size: 2rem;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-title-container {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.new-note-container {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
	padding-left: 1rem;
	padding-right: 0;
	position: relative;
	width: 100%;
}

.note-textarea {
  background-color: rgb(245, 245, 245);
	border: none;
	color: #000000;
	font-family: inherit;
  font-size: 1.5rem;
	height: calc(100% - 4rem);
	line-height: inherit;
	margin: 0;
	outline: none;
	padding-top: 1rem;
	resize: none;
	width: 100%;
}

.note-textarea:read-only {
	color: #757575;
}

.note-title {
  background-color: rgb(245, 245, 245);
	border: none;
	color: #000000;
	font-size: 3rem;
	margin-top: 0.75rem;
	outline: none;
	width: 100%;
}

.note-title:read-only {
	color: #757575;
}

.notes-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}

.notes-list {
	border: 1.5px solid rgba(0, 0, 0, 0.5);
	border-bottom: none;
	border-top: none;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 4.25rem);
	position: relative;
}

.notes-list-container {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 0;
	padding-right: 1rem;
	position: relative;
	width: 100%;
}

.notes-list-container i {
	cursor: pointer;
	font-size: 1.5rem;
}

.notes-list-container i:hover {
  background-color: red;
}

.save-note {
	display: none;
}

.start-btn {
	background-color: blue;
	border-radius: 0.3rem;
	border-style: none;
	display: inline-block;
	margin-top: 1.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
	vertical-align: middle;
}

.start-btn > a {
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;
}

.welcome-container {
	background-color: #ecf0f1;
	border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem 0.25rem #000000;
	margin: 5rem auto 0rem;
	padding: 2rem 1rem;
	text-align: center;
	width: 75%;
}

.welcome-subtitle {
	color: red;
	font-size: 1.5rem;
	font-weight: 200;
	margin-top: 0.75rem;
}

.welcome-title {
	font-size: 4rem;
	font-weight: 400;
}

.welcome-title-container {
	align-items: center;
	display: flex;
	gap: 4rem;
	justify-content: center;
}
